<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Clubs</h2>
<a href="{% url 'club_create' %}">Add Club</a>
<ul>
    {% for club in clubs %}
        <li>{{ club.name }} - KES {{ club.registration_fee }}
            <a href="{% url 'club_update' club.pk %}">Edit</a>
            <form action="{% url 'club_delete' club.pk %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        </li>
    {% endfor %}
</ul>

</body>
</html>